<div class="box-container" fxLayout="column" [ngStyle.lt-sm]="'min-height: 800px;'">
  <div class="app-title">Simple example app for the ngx-quill-wrapper</div>

  <div class="info-container">
    This example only shows some of the available toolbar tools, to see all check Quill demos / documentation.
  </div>

  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex>
    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Settings</div>

      <div class="action-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex (click)='toggleType()'>{{(type == "component") ? "Switch to directive" : "Switch to component"}}</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex (click)='toggleTheme()'>{{(config.theme == "snow") ? "Change to bubble theme" : "Change to snow theme"}}</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex (click)='toggleToolbar()'>Toggle toolbar showing</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex (click)='toggleReadonly()'>Toggle read-only mode</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex (click)='clearEditorContent()'>Clear the editor content</div>
      </div>
    </div>

    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Quill</div>

      <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
        <quill *ngIf="type == 'component' && show" fxFlex [config]="config" (editorCreate)="onEditorCreate($event)" (contentChange)="onContentChange($event)" (selectionChange)="onSelectionChange($event)">
        </quill>

        <div *ngIf="type == 'directive' && show" class="quill-editor" fxFlex [quill]="config" (editorCreate)="onEditorCreate($event)" (contentChange)="onContentChange($event)" (selectionChange)="onSelectionChange($event)">
        </div>
      </div>
    </div>
  </div>
</div>
